In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("data/1000_BA_Reviews_ppd2.csv",sep="|")
df.head()

   №         Status                                             Review
0  3  Trip Verified  Communication and customer service non existen...
1  4  Trip Verified  That was supposed to be my flight but it was c...
2  5  Trip Verified  Have no fear when your BA flight is operated b...
3  7  Trip Verified  London Heathrow to Istanbul at the start of th...
4  9  Trip Verified  I am a British Airways Gold Guest List member ...

In [11]:
df.describe

<bound method NDFrame.describe of          №         Status                                             Review
0        3  Trip Verified  Communication and customer service non existen...
1        4  Trip Verified  That was supposed to be my flight but it was c...
2        5  Trip Verified  Have no fear when your BA flight is operated b...
3        7  Trip Verified  London Heathrow to Istanbul at the start of th...
4        9  Trip Verified  I am a British Airways Gold Guest List member ...
...    ...            ...                                                ...
1962  1898     Unverified  Gatwick to Salzburg return in business class, ...
1963  1899     Unverified  Gatwick to Barbados, outbound on 19th January ...
1964  1900     Unverified  Bordeaux to London Gatwick. As a former Execut...
1965  1901     Unverified  London Heathrow to San Francisco return. Upgra...
1966  1918     Unverified  London Heathrow to Philadelphia return. Very g...

[1967 rows x 3 columns]>

In [14]:
status = df['Status']
status

0       Trip Verified
1       Trip Verified
2       Trip Verified
3       Trip Verified
4       Trip Verified
            ...
1962       Unverified
1963       Unverified
1964       Unverified
1965       Unverified
1966       Unverified
Name: Status, Length: 1967, dtype: object

In [19]:
count_tv = 0
count_vr = 0
count_nv = 0
count_uv = 0
for stat in status:
    if stat == 'Trip Verified':
        count_tv+=1
    if stat == 'Verified Review':
        count_vr+=1
    if stat == 'Not Verified':
        count_nv+1
    if stat == 'Unverified':
        count_uv+1
print(f'There are {count_tv} Trip Verified reviews')
print(f'There are {count_vr} Verified Review reviews')
print(f'There are {count_nv} Not Verified reviews')
print(f'There are {count_uv} Unverified reviews')
print(f'There are {count_tv + count_vr + count_nv + count_uv} reviews in total')

There are 1180 Trip Verified reviews
There are 524 Verified Review reviews
There are 0 Not Verified reviews
There are 0 Unverified reviews
There are 1704 reviews in total